In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as plt 
import seaborn as sns 
import tensorflow as tf
from tensorflow import keras
import tensorflow.python.platform.build_info as build
from database_connection import DBConn

In [2]:
# check gpu availability 
print(f"TF is cuda build: {build.build_info['is_cuda_build']}")
print(f"Device list: {tf.config.list_physical_devices('GPU')}")

TF is cuda build: True
Device list: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
# setup database connection 
HOST = 'localhost'
USER = 'db_user'
PORT = 5438
DATABASE = 'shot_db'
PASSWORD = 'LetMeIn'
TABLE_NAME = 'shot_data_table'

db = DBConn()

In [14]:
# grab a sample of the data to check out 
value = db.query(f"SELECT * FROM {TABLE_NAME} WHERE shot_event<>'BLOCK' ORDER BY id ASC LIMIT 25")
value.columns

Index(['id', 'game_id', 'season', 'game_date', 'game_period', 'shot_event',
       'seconds_elapsed', 'strength', 'strength_2', 'event_team', 'away_team',
       'home_team', 'position', 'shoots', 'player1', 'player2', 'player3',
       'away_player1', 'away_player2', 'away_player3', 'away_player4',
       'away_player5', 'away_player6', 'home_player1', 'home_player2',
       'home_player3', 'home_player4', 'home_player5', 'home_player6',
       'away_players', 'home_players', 'away_score', 'home_score',
       'away_goalie', 'home_goalie', 'home_coach', 'away_coach', 'event_zone',
       'x', 'y', 'is_home', 'goalie', 'catches', 'shot_type', 'loc', 'corsi',
       'fenwick', 'shot', 'goal', 'empty_net', 'xg', 'event_distance',
       'event_angle'],
      dtype='object')

In [15]:
value

,id,game_id,season,game_date,game_period,shot_event,seconds_elapsed,strength,strength_2,event_team,...,shot_type,loc,corsi,fenwick,shot,goal,empty_net,xg,event_distance,event_angle
0,1,2007020001,20072008,2007-09-29,1,SHOT,17,5x5,EV,L.A,...,Wrist,1,1,1,1,0,0,0.069568,21.954498,30.068583
1,2,2007020001,20072008,2007-09-29,1,MISS,52,5x5,EV,ANA,...,Wrist,1,1,1,0,0,0,0.014901,51.923020,-15.642246
2,3,2007020001,20072008,2007-09-29,1,SHOT,86,5x5,EV,ANA,...,Backhand,1,1,1,1,0,0,0.051133,22.472205,20.854458
3,4,2007020001,20072008,2007-09-29,1,SHOT,188,4x4,EV,L.A,...,Wrist,1,1,1,1,0,0,0.042231,31.827661,43.726970
4,5,2007020001,20072008,2007-09-29,1,SHOT,242,4x5,PP,ANA,...,Wrist,1,1,1,1,0,0,0.031222,42.438190,-34.438989
5,6,2007020001,20072008,2007-09-29,1,SHOT,278,4x5,PP,ANA,...,Wrist,1,1,1,1,0,0,0.097790,17.888544,26.565051
6,7,2007020001,20072008,2007-09-29,1,SHOT,287,4x5,PP,ANA,...,Slap,1,1,1,1,0,0,0.055402,49.040799,2.337306
7,8,2007020001,20072008,2007-09-29,1,SHOT,336,4x5,PP,ANA,...,Wrist,1,1,1,1,0,0,0.057798,27.586228,43.531199
8,9,2007020001,20072008,2007-09-29,1,SHOT,367,5x5,EV,ANA,...,Slap,1,1,1,1,0,0,0.034900,39.962482,31.701430
9,10,2007020001,20072008,2007-09-29,1,SHOT,475,5x4,PP,L.A,...,Wrist,1,1,1,1,0,0,0.018001,63.976558,-24.962790
10,11,2007020001,20072008,2007-09-29,1,GOAL,515,5x3,PP,L.A,...,Wrist,1,1,1,1,1,0,0.131571,26.925824,-21.801409
11,12,2007020001,20072008,2007-09-29,1,SHOT,539,5x4,PP,L.A,...,Slap,1,1,1,1,0,0,0.155295,25.059928,-28.610460
12,13,2007020001,20072008,2007-09-29,1,SHOT,561,5x4,PP,L.A,...,Backhand,1,1,1,1,0,0,0.112419,10.440307,16.699244
13,14,2007020001,20072008,2007-09-29,1,MISS,606,5x3,PP,L.A,...,Wrist,1,1,1,0,0,0,0.197542,19.416488,11.888658
14,15,2007020001,20072008,2007-09-29,1,MISS,626,5x4,PP,L.A,...,Wrist,1,1,1,0,0,0,0.085827,26.627054,-34.286877
15,16,2007020001,20072008,2007-09-29,1,SHOT,646,5x4,PP,L.A,...,Slap,1,1,1,1,0,0,0.042393,49.648766,27.597296
16,20,2007020001,20072008,2007-09-29,1,SHOT,1072,4x5,PP,ANA,...,Slap,1,1,1,1,0,0,0.095756,35.128336,-4.899092
17,21,2007020001,20072008,2007-09-29,1,MISS,1082,4x5,PP,ANA,...,Slap,1,1,1,0,0,0,0.032875,63.071388,25.346176
18,22,2007020001,20072008,2007-09-29,1,MISS,1095,4x5,PP,ANA,...,Slap,1,1,1,0,0,0,0.053862,55.009090,-1.041627
19,25,2007020001,20072008,2007-09-29,2,SHOT,109,5x5,EV,ANA,...,Tip-In,1,1,1,1,0,0,0.093433,10.770330,21.801409
20,26,2007020001,20072008,2007-09-29,2,MISS,125,5x5,EV,L.A,...,Snap,1,1,1,0,0,0,0.013658,158.685223,55.922805
21,27,2007020001,20072008,2007-09-29,2,SHOT,227,4x5,PP,ANA,...,Wrist,1,1,1,1,0,0,0.122194,21.000000,0.000000
22,28,2007020001,20072008,2007-09-29,2,MISS,251,4x5,PP,ANA,...,Slap,1,1,1,0,0,0,0.039092,59.203040,-15.679524
23,29,2007020001,20072008,2007-09-29,2,SHOT,288,4x5,PP,ANA,...,Wrist,1,1,1,1,0,0,0.067433,30.870698,24.904769
24,30,2007020001,20072008,2007-09-29,2,SHOT,332,5x5,EV,ANA,...,Slap,1,1,1,1,0,0,0.033596,41.785165,21.037511

In [20]:
value[['id', 'home_team', 'away_team', 'event_team', 'strength', 'strength_2', 'shot_event', 'event_zone', 'x', 'y', 'event_distance', 'event_angle']]

,id,home_team,away_team,event_team,strength,strength_2,shot_event,event_zone,x,y,event_distance,event_angle
0,1,L.A,ANA,L.A,5x5,EV,SHOT,Off,70,11,21.954498,30.068583
1,2,L.A,ANA,ANA,5x5,EV,MISS,Off,39,-14,51.923020,-15.642246
2,3,L.A,ANA,ANA,5x5,EV,SHOT,Off,68,8,22.472205,20.854458
3,4,L.A,ANA,L.A,4x4,EV,SHOT,Off,66,22,31.827661,43.726970
4,5,L.A,ANA,ANA,4x5,PP,SHOT,Off,54,-24,42.438190,-34.438989
5,6,L.A,ANA,ANA,4x5,PP,SHOT,Off,73,8,17.888544,26.565051
6,7,L.A,ANA,ANA,4x5,PP,SHOT,Off,40,2,49.040799,2.337306
7,8,L.A,ANA,ANA,4x5,PP,SHOT,Off,69,19,27.586228,43.531199
8,9,L.A,ANA,ANA,5x5,EV,SHOT,Off,55,21,39.962482,31.701430
9,10,L.A,ANA,L.A,5x4,PP,SHOT,Off,31,-27,63.976558,-24.962790
10,11,L.A,ANA,L.A,5x3,PP,GOAL,Off,64,-10,26.925824,-21.801409
11,12,L.A,ANA,L.A,5x4,PP,SHOT,Off,67,-12,25.059928,-28.610460
12,13,L.A,ANA,L.A,5x4,PP,SHOT,Off,79,3,10.440307,16.699244
13,14,L.A,ANA,L.A,5x3,PP,MISS,Off,70,4,19.416488,11.888658
14,15,L.A,ANA,L.A,5x4,PP,MISS,Off,67,-15,26.627054,-34.286877
15,16,L.A,ANA,L.A,5x4,PP,SHOT,Off,45,23,49.648766,27.597296
16,20,L.A,ANA,ANA,4x5,PP,SHOT,Off,54,-3,35.128336,-4.899092
17,21,L.A,ANA,ANA,4x5,PP,MISS,Off,32,27,63.071388,25.346176
18,22,L.A,ANA,ANA,4x5,PP,MISS,Off,34,-1,55.009090,-1.041627
19,25,L.A,ANA,ANA,5x5,EV,SHOT,Off,79,4,10.770330,21.801409
20,26,L.A,ANA,L.A,5x5,EV,MISS,Def,-66,34,158.685223,55.922805
21,27,L.A,ANA,ANA,4x5,PP,SHOT,Off,68,0,21.000000,0.000000
22,28,L.A,ANA,ANA,4x5,PP,MISS,Off,32,-16,59.203040,-15.679524
23,29,L.A,ANA,ANA,4x5,PP,SHOT,Off,61,13,30.870698,24.904769
24,30,L.A,ANA,ANA,5x5,EV,SHOT,Off,50,15,41.785165,21.037511